.hero-img {
  max-width: 300px;
  margin-left: 20px;
}

.hero-main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  padding: 0px 30px;
  background-color: purple;
}

.hero-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.hero-left-container h1 {
  font-size: 40px;
  color: rgb(206, 22, 151);
}

.hero-button {
  width: 100px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 15px;
  background-color: pink;
  color: blueviolet;
}

@media (min-width: 300px) and (max-width: 610px) {
  .hero-main-container {
    flex-direction: column;
    height: 700px;
  }

  .hero-img {
    position: relative;
    bottom: 40px;
    max-width: 250px;
    border-radius: 20px;
  }
}
