.header-container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  background-color: pink;
}

.nav-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links-container-nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.links-container-nav a {
  color: rgb(206, 22, 151);
  font-weight: 400;
}

.contact-us-button-nav {
  font-size: 20px;
  background-color: white;
  color: purple;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
